{% extends 'store/main.html' %}

{% load static %}
{% block content %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/tailwind.css' %}"> -->
    <style>    
    .modal {
        transition: opacity 0.25s ease;
    }
    body.modal-active {
        overflow-x: hidden;
        overflow-y: hidden !important;
    }
    .modal-container{

        height: 80%;
    }
    </style>
    </head>



    <body class='bg-gray-100'>
        <div class="flex flex-wrap mb-4 justify-center">
        {%for product in products%}


        <div class="max-w-xs rounded overflow-hidden shadow-sm m-3 ">


            <button>
            <img data-action="show" data-product={{product.id}} class="w-full show-item" src="{{product.imageUrl}}" alt="Sunset in the mountains">
            </button>
            <div class="px-6 py-2">
              <div class="font-bold text-xl mb-1"><h2>{{product.name}}  </h2></div>
                <div style = "text-align: left;"class="font-light text-sm">$ {{product.price}}</div>
                <p class="text-gray-600 text-base mb-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                </p>      
            </div>

            <div class="px-2 py-2 flex justify-center">
                <button data-action='add' data-product={{product.id}} class = "bg-gray-200 hover:bg-yellow-300  mx-1 font-bold py-0 text-white rounded add btn update-cart"><div class="mb-1"><h6>add to cart  </h6></div></button>
                <!-- <div onclick= "location.href='{%url 'item_details'%}'" > -->
                    
                <button data-action='show' data-product={{product.id}} class = "bg-gray-200 hover:bg-yellow-300 mx-1 font-bold py-0 text-white rounded add btn show-item"><div class=" mb-1"><h6>view item  </h6></div></button>
                    
            </div>
 
            <div class="px-4 pt-2 pb-2 flex justify-center">
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#tag</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#tag</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#tag</span>
            </div>
        </div>

        
        




        {% endfor %}
    </div>

    <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
        <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
        
        <div class="modal-container bg-white h-11/12 w-11/12 md:max-h-11/12 md:max-w-11/12  mx-max-w-11/12 rounded shadow-lg z-50 overflow-y-auto">
          

    
          <!-- Add margin if you want to see some of the overlay behind the modal-->
          <div class="modal-content  py-4 text-left px-6 items-center justify-center">
            <!--Title-->
            <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
                <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                  <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                </svg>
                <span class="text-sm text-black">(Esc)</span>
              </div>
    


                <div id="ITEMITEM" class="items-center justify-center" >

                </div>

            <!--Footer-->

          </div>
        </div>
      </div>
    

    </body>

    {% endblock content %}
</html>